/* https://codepen.io/kittenlane/pen/NxwXOO */
.loader {
  text-align: center;
  margin: 20px 0;
}

.loader::before {
  content: "loading";
}

.loader::after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 1s infinite;
  animation: ellipsis steps(4,end) 3s infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0;
  margin-right: 20px;
}

@keyframes ellipsis {
  to {
    width: 25px;
    margin-right: 0;
  }
}
